@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

:root {
    /* färger */
    --color-theme: #20d3c2;
    --color-theme-light: #EDFCFA;
    --color-theme-dark: #0e153d;
    --color-dark: #080c24;
    --color-white: #ffffff;
    --color-grey-0: #aaaaaa;
    --color-grey-2: #e3e3e3;
    --color-grey-3: #eeeeee;
    --color-grey-1: #cccccc;
    --color-grey-4: #f6f6f6;
    --color-product-instock: #82d8c6;
    --color-product-outofstock: #fe6c6c;
/* fonter */
    --font-play: 'Play', sans-serif;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-roboto: 'Roboto', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-size-14: 1.17rem;
    --font-size-16: 1.33rem;
    --font-size-18: 1.5rem;
    --font-size-24: 2rem;
    --font-size-36: 3rem;
    --font-size-60: 5rem;
/* border */
    --border-radius-small: 8px;
    --border-radius-medium: 25px;
    --border-radius-rounded: 50%;
}
/* html general */
html, body {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-regular);
    color: var(--color-theme-dark);
}
/* section generel */
.section{
    color: var(--color-theme-dark);
    text-align: center;
    padding: 3rem 0;
}
    .section h1 {
        font-family: var(--font-play);
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-36);
    }
        .section h1 span {
            color: #20d3c2;
        }
.section p {
margin: 1rem 0;
}

/* bootstrap knapp */

.btn-theme {
    background-color: var(--color-theme);
    color: var(--color-white);
    border-radius: var(--border-radius-medium);
    font-weight: var(--font-weight-medium);
    padding-left: 1.8rem;
    padding-right: 1.8rem;
}
.btn-theme:hover {
    background-color: var(--color-theme-dark);
    color: var(--color-white);
}
.bg-theme {
    background-color: var(--color-theme);
}
.text-theme {
    color: var(--color-theme);
}
.instock {
    color: var(--color-product-instock);
}
.outofstock {
    color: var(--color-product-outofstock);
}

/* forms */

.required {
    color: var(--color-theme);
}

/* top meny */

.top-meny {
    background-color: var(--color-theme);
    color: var(--color-white);
}
.top-meny > .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* länkar specifik */

    .top-meny .top-links a {
        color: var(--color-white);
        text-decoration: none;
        margin: 1rem;
        }
            .top-meny .top-links a:hover {
                color: var(--color-theme-dark);
            }
.top-meny .top-links .socials {
    margin-left: 1rem;
    font-size: var(--font-size-14);
}
    .top-meny .top-links .socials a {
    margin: 0 0.1rem;
    }
        .top-meny .top-links .socials a:last-child {
            margin: 0 0 0 0.3;
        }

/* dropdown knapp top */

.top-meny .site-settings {
    display: flex;
}

    .top-meny .dropdown-theme {
        background-color: var(--color-theme);
        color: var(--color-white);
    }
        .top-meny .dropdown-theme button {
            background-color: var(--color-theme);
            color: var(--color-white);
            border: none;
            padding: 0;
            margin-right: 0.5rem;
        }
            .top-meny .dropdown-theme button:hover {
                color: var(--color-theme-dark);
            }
                .top-meny .dropdown-theme .dropdown-menu {
                    background-color: var(--color-theme);
                    color: var(--color-white);
                    border: none;     
                }
                    .top-meny .dropdown-theme .dropdown-menu .dropdown-item {
                        margin: 0;
                        width: 100%;

                    }
                        .top-meny .dropdown-theme .dropdown-menu .dropdown-item:hover {
                            background-color: var(--color-theme-dark);
                            color: var(--color-white);  
                        }

/* main meny */

.main-meny {
background-color: var(--color-white);
}

.main-meny > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.main-meny .kenkata {
    flex: 1;
}
.main-meny .search {
    flex: 3;
}
.main-meny .all-links {
    flex: 2;
    display: flex;
    justify-content: end;
    align-items: center;
}
    .main-meny .all-links a {
    text-decoration: none;
    color: var(--color-theme-dark); 
    margin: 0 0.5rem;
    }
    .main-meny .all-links a:last-child {
        margin: 0 0 0 1rem;
        }
        .main-meny .all-links a:first-child {
            margin: 0 2rem 0 0;
            }
        .main-meny .all-links a:hover {
            text-decoration: none;
            color: var(--color-theme); 
        }
.main-meny .all-links i {
    font-size: var(--font-size-16);
}
    .main-meny .all-links #cart {
        position: relative;
    }
        .main-meny .all-links #cart .badge {
            background-color: var(--color-theme);
            position: absolute;
            top: -1.1rem;
            left: 0.8rem;
            transition: 0.3s;
        }
        .main-meny .all-links #cart:hover .badge {
            background-color: var(--color-theme-dark);
        }

/* bot nav */

.main-meny nav {
border-top: 1px solid var(--color-grey-2);
border-bottom: 1px solid var(--color-grey-2);
}
    .main-meny > nav > .container {
        display: flex;
        justify-content: space-between;
    }
        .main-meny nav .category {
            flex: 2;
            align-items: center;
        }
            .main-meny nav .category button {
                background-color: var(--color-theme);
                border: none;
                color: var(--color-white);
                font-size: var(--font-size-14);
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.7rem 1rem;
                transition: 0.3s;
            }
            .main-meny nav .category button:hover {
                background-color: var(--color-theme-dark);
                color: var(--color-white);
            }
            .main-meny nav .category button i {
                font-size: 1.5em;
            }
            .main-meny nav .category button span {
                display: flex;
                align-items: center;
                }
                .main-meny nav .offer {
                    flex: 7;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                }

/* intro content */

.intro {
    background-color: var(--color-grey-2);
}
.intro .container {
    display: flex;
    align-items: center;
}

/* text vänster */

.intro .content h1 {
    font-family: var(--font-play);
    font-size: var(--font-size-60);
    font-weight: var(--font-weight-regular);
}

    .intro .content span {
        font-weight: var(--font-weight-bold);
        color: var(--color-theme);
    }
        .intro .content p {
            font-size: var(--font-size-16);
        }

/* content knapp */

.container .btn-secondary {
    background-color: var(--color-white);
    color: var(--color-theme);
    border-radius: 2rem;
    padding: 1rem 2rem;
    border: none;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-medium);
    transition: 0.3s;
}
.container .btn-secondary:hover {
    background-color: var(--color-theme-dark);
    color: var(--color-white);
}

/* rad meny info */

.webinfo {
    padding: 3rem 0;

}
.webinfo .container {
    max-width: 1600px;
    display: flex;
    justify-content: space-evenly;
}
.webinfo .infobox {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    flex: 1;
    background-color: var(--color-theme-light);
    padding: 1rem;
    border-radius: var(--border-radius-small);
    transition: 0.3s;
}
.webinfo .infobox:hover {
    background-color: var(--color-theme);
    color: var(--color-white);
}
    .webinfo .infobox img {
        margin-right: 2rem;
        transition: 0.3s;
        filter: brightness(100%);
    }
    .webinfo .infobox:hover img {
        filter: brightness(1000%);
        transition: 0.3s; 

    }
        .webinfo .infobox h2 {
            color: var(--color-theme);
            font-size: var(--font-size-14);
            font-weight: var(--font-weight-medium);
        }
        .webinfo .infobox:hover h2 {
            color: var(--color-white);
        }

/* grid */

.devide .grid {
display: grid;
gap: 0.7rem;
grid-template-columns: repeat(5, minmax(100px,249px));
grid-template-rows: repeat(3, minmax(100px,249px));
}
    .devide .box-category {
        background-color: var(--color-grey-1);
        border-radius: var(--border-radius-small);
        overflow: hidden;
        height: 100%;
        width: 100%;
        position: relative;
    }

        .devide .box-category .category-box {
            position: absolute;
            width: 50%;
            left: 0px;
            bottom: 0px;
            border-radius: 0 var(--border-radius-small) 0 0;
            background-color: var(--color-theme-dark);
            color: var(--color-theme);
            padding: 0.5rem 1rem;
            font-weight: var(--font-weight-medium);
            height: 40px;
            transition: 0.2s;
        }
        .devide .box-category:hover .category-box {
            height: 75px;
        }
        .devide .box-category .category-box span {
            display: block;
            color: var(--color-white);
            font-size: 0.8rem;
            margin-top: 0.5rem;
        }

/* grid layout */

#grid-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#grid-2 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

#grid-3 {
    grid-column: 4 / -1;
    grid-row: 1 / 3;
}
#grid-4 {
    grid-column: 1 / 3;
    grid-row: 2 / -1;
}
#grid-5 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
#grid-6 {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
}
#grid-7 {
    grid-column: 5 / -1;
    grid-row: 3 / -1;
}


/* cards */

.new-arrivals {
    margin-top: 4rem;
}
    .new-arrivals .card {
        position: relative;
        height: 400px;
        width: 400px;
        overflow: hidden;
        border: 1px solid #eeeeee;
        background-color: var(--color-grey-3);
    }
    .new-arrivals .card img {
        height: 400px;
    }
    .new-arrivals .card .card-body {
        position: absolute;
        bottom: 0;
        height: 14%;
        width: 100%;
        color: var(--color-white);
        z-index: 1;
        transition: 0.3s;
        font-size: 1rem;
    }
    .new-arrivals .card:hover .card-body {
        height: 40%;
    }
    .new-arrivals .card .card-body button {
        background-color: transparent;
        color: var(--color-white);
        border: 1px solid var(--color-white);
        font-size: 0.875rem;
        padding-left: 0.9rem;
        padding-right: 0.9rem;
        margin: 0.5rem 0;
    }
    .new-arrivals .card .card-body .old-price {
        text-decoration: line-through;
        margin: 0;
        padding: 0;
    }
        .new-arrivals .card .card-body .card-discount {
        color: var(--color-theme);
        font-weight: var(--font-weight-medium);
        font-size: 1.5em;
        margin: 0;
        }
        .new-arrivals .card .card-body h1 {
            font-size: var(--font-size-18);
            font-weight: var(--font-weight-regular);
        }
        .new-arrivals .card .card-background {
            position: absolute;
            bottom: 0;
            height: 15%;
            width: 100%;
            background-color: var(--color-theme-dark);
            opacity: 0.9;
            transition: height 0.3s;
        }
        .new-arrivals .card:hover .card-background {
            height: 100%;
        }
        .new-arrivals .card .card-menu {
            position: absolute;
            z-index: 1;
            top: 101%;
            right: 1rem;
            list-style: none;
            margin: auto;
            padding: 0.5rem;
            font-size: 1.25rem;
            border-radius: var(--border-radius-medium);
            background-color: var(--color-white);
            transition: top 0.3s;
        }
        .new-arrivals .card:hover .card-menu {
            top: 20px;
            }
            .new-arrivals .card .card-menu li a {
                color: var(--color-grey-0);
            }
            .new-arrivals .card .card-menu li {
                margin-top: 0.3rem;
                margin-bottom: 0.3rem;
                font-size: 1.1em;
            }
                .new-arrivals .card .card-menu li a:hover {
                    color: var(--color-theme);
                }
#stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#stars i {
    color: var(--color-theme);
}

/* sale 30 section */

.sale {
    background-color: var(--color-grey-1);
}
.sale .container {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    height: 420px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.sale .sale30 {
    width: 275px;
    height: 100%;
    padding-top: 100px;
    text-align: center;
    background-color: var(--color-theme);
    color: var(--color-white);
}
.sale30 h1{
    font-family: var(--font-play);
    font-size: var(--font-size-60);
    font-weight: var(--font-weight-bold);
}
.sale30 span {
    font-family: var(--font-play);
    font-size: var(--font-size-36);
    font-weight: var(--font-weight-bold);
}
.sale p {
    font-family: var(--font-roboto);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-regular);
}
.infot {
    width: 445px;
    align-items: center;
    justify-content: center;
}
.infot p {
    font-size: var(--font-size-14);
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-regular);
}

/* flash sale */
.flashsale1 {
background-color: #0e153d;
}

.flashsale1 .container {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    height: 420px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.container .flashsale {
    background-color: var(--color-theme);
    height: 275px;
    width: 265px;
    text-align: center;
    position: absolute;
    top: 0px;
    padding-top: 25px;
    color: #ffffff;
}
.flashsale h1 {
    font-family: var(--font-play);
    font-size: 4rem;
    font-weight: var(--font-weight-bold);
}
    .flashsale p {
    font-family: var(--font-roboto);
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-medium);
    }
.container .time {
    position: absolute;
    right: 0px;
    top: 100px;
}
.time {
    width: 545px;
}
.time .minuter {
    display: inline-block;
    background-color: #ffffff;
    text-align: center;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-right: 10px;
    padding: 10px;
    border: 2px dotted #20d3c2;
}
 .time a {
    position: relative;
    top: 30px;
    right: -175px;


 }
 .minuter h3 {
    color: #20d3c2;
    font-family: var(--font-play);
    font-size: var(--font-size-36);
    font-weight: var(--font-weight-bold); 
    padding: 0;
    margin: 0;
 }
    .minuter p {
        font-family: var(--font-roboto);
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-regular);
    }

    /* top sellers grid */
    
.topseller .grid {
        justify-content: center;
        display: grid;
        gap: 0.7rem;
        grid-template-columns: repeat(4, minmax(100px,249px));
        grid-template-rows: repeat(4, minmax(100px,338px));
        }
            .topseller .card-box {
                background-color: var(--color-grey-1);
                border-radius: var(--border-radius-small);
                overflow: hidden;
                height: 100%;
                width: 100%;
                position: relative;
            }
        
                /* .topseller .card-box .category-box {
                    position: absolute;
                    width: 100%;
                    left: 0px;
                    bottom: 0px;
                    border-radius: 0 var(--border-radius-small) 0 0;
                    background-color: var(--color-theme-dark);
                    color: var(--color-theme);
                    padding: 0.5rem 1rem;
                    font-weight: var(--font-weight-medium);
                    height: 40px;
                    transition: 0.2s;
                } */
.topseller #card1 {
    grid-column: 1/3;
    grid-row: 1/3;
}
.topseller #card2 {
    grid-column: 3/-1;
}
.topseller #card3 {
    grid-column: 3/-1;

} 

/* card stor topseller */

.topseller .card {
    position: relative;
    height: 700px;
    overflow: hidden;
    border: 1px solid #eeeeee;
    background-color: var(--color-grey-3);
}
.topseller .card img {
    height: 700px;
}
.topseller .card .card-body {
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
    color: var(--color-white);
    z-index: 1;
    transition: 0.3s;
    font-size: 1rem;
}
.topseller .card:hover .card-body {
    height: 30%;
}
.topseller .card .card-body button {
    background-color: transparent;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    font-size: 0.875rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    margin: 0.5rem 0;
}
.topseller .card .card-body .old-price {
    text-decoration: line-through;
    margin: 0;
    padding: 0;
}
.topseller .card .card-body .card-discount {
    color: var(--color-theme);
    font-weight: var(--font-weight-medium);
    font-size: 1.5em;
    margin: 0;
    }
    .topseller .card .card-body h1 {
        font-size: var(--font-size-18);
        font-weight: var(--font-weight-regular);
        margin-bottom: 30px;
    }
    .topseller .card .card-background {
        position: absolute;
        bottom: 0;
        height: 70px;
        width: 100%;
        background-color: var(--color-theme-dark);
        opacity: 0.9;
        transition: height 0.3s;
    }
    .topseller .card:hover .card-background {
        height: 100%;
    }
    .topseller .card .card-menu {
        position: absolute;
        z-index: 1;
        top: 101%;
        right: 1rem;
        list-style: none;
        margin: auto;
        padding: 0.5rem;
        font-size: 1.25rem;
        border-radius: var(--border-radius-medium);
        background-color: var(--color-white);
        transition: top 0.3s;
    }
    .topseller .card:hover .card-menu {
        top: 20px;
        }
        .topseller .card .card-menu li a {
            color: var(--color-grey-0);
        }
        .topseller .card .card-menu li {
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
            font-size: 1.1em;
        }
        .topseller .card .card-menu li a:hover {
                color: var(--color-theme);
            }

/* cards small */
.topseller {
    margin-top: 4rem;
}
.topseller #cardsmall {
    position: relative;
    height: 350px;
    overflow: hidden;
    border: 1px solid #eeeeee;
    background-color: var(--color-grey-3);
}
.topseller #cardsmall img {
    height: 350px;
}
.topseller #cardsmall .card-body {
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    color: var(--color-white);
    z-index: 1;
    transition: 0.3s;
    font-size: 1rem;
}
.topseller #cardsmall:hover .card-body {
    height: 55%;
}
.topseller #cardsmall .card-body button {
    background-color: transparent;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    font-size: 0.875rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    margin: 0.5rem 0;
}
.topseller #cardsmall .card-body .old-price {
    text-decoration: line-through;
    margin: 0;
    padding: 0;
}
.topseller #cardsmall .card-body .card-discount {
    color: var(--color-theme);
    font-weight: var(--font-weight-medium);
    font-size: 1.5em;
    margin: 0;
    }
    .topseller #cardsmall .card-body h1 {
        font-size: var(--font-size-18);
        font-weight: var(--font-weight-regular);
        margin-bottom: 20px;
    }
    .topseller #cardsmall .card-background {
        position: absolute;
        bottom: 0;
        height: 70px;
        width: 100%;
        background-color: var(--color-theme-dark);
        opacity: 0.9;
        transition: height 0.3s;
    }
    .topseller #cardsmall:hover .card-background {
        height: 100%;
    }
    .topseller #cardsmall .card-menu {
        position: absolute;
        z-index: 1;
        top: 101%;
        right: 1rem;
        list-style: none;
        margin: auto;
        padding: 0.5rem;
        font-size: 1.25rem;
        border-radius: var(--border-radius-medium);
        background-color: var(--color-white);
        transition: top 0.3s;
    }
    .topseller #cardsmall:hover .card-menu {
        top: 20px;
        }
        .topseller #cardsmall .card-menu li a {
            color: var(--color-grey-0);
        }
        .topseller #cardsmall .card-menu li {
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
            font-size: 1.1em;
        }
        .topseller #cardsmall .card-menu li a:hover {
                color: var(--color-theme);
            }

/* breadcrumb */

.site-info {
    background-color: #50546e;
    color: var(--color-theme);
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.site-info .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .site-info h1 {
        font-size: 1.5rem;
        font-weight: var(--font-weight-medium);
        font-family: var(--font-roboto);
        margin: 0;
    }
        .site-info .container nav ol {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
        }
        .site-info .breadcrumb li {
            color: var(--color-white);
            font-size: 18px;
        }
            .site-info .breadcrumb li a {
                color: var(--color-theme);
                text-decoration: none;
            }
            .site-info .breadcrumb li a:hover {
                text-decoration: underline;
            }

    /* formulär  */

.signup-signin {
    margin: 6rem 0;
}  
    .signup-signin .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        align-items: start;
    }  
    /* cards register */
    .form-theme .card {
    padding: 1.5rem;
    border: none;
    border-radius: var(--border-radius-small);
    background-color: var(--color-grey-4);
}

        .form-theme .card .card-body h1 {
            font-size: 1.5rem;
            font-family: var(--font-roboto);
            color: var(--color-theme-dark);
            font-weight: var(--font-weight-medium);
        }
            .form-theme .card .card-body .card-text{
            margin: 1.5rem 0;
            line-height: 2;
        }
            .form-theme .card .card-body .card-text.text-small{
                color: #777777;
                font-size: 0.875rem;
            }
                .form-theme .card .card-body .card-text a {
                    color: var(--color-theme);
                    text-decoration: none;
                    font-weight: 500;
                }
                .form-theme .card .card-body .card-text a:hover {
                    color: var(--color-theme-dark);
                    text-decoration: underline;
                }

/* forms register */

.form-theme form input[type=checkbox] {
    height: 20px;
    width: 20px;
    display: inline-block;
}

.form-theme form input[type=text],
.form-theme form input[type=email],
.form-theme form input[type=password] {
    display: block;
    width: 100%;
    border-radius: var(--border-radius-small);
    padding: 0.5rem 0.8rem;
    margin: 0.3rem 0;
    border: none;
}
    .form-theme form input:focus {
        outline: 0;
        box-shadow: 0 0 2px 1px var(--color-grey-0);
    }
    
/* forms login */
.external {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
}
    .external .label {
        background-color: var(--color-grey-4);
        padding: 0 2rem;
        z-index: 2;
    }
        .external .lina {
            position: absolute;
            top: 10px;
            right: 0;
            left: 0;
            border: 1px solid var(--color-grey-0);
            z-index: -1;
        }
.facegoog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}
    .facegoog .facebook-button {
        text-align: left;
    }
    .facegoog .facebook-button button {
    background-image: url(../bilder/knapp/Facebook\ login.svg);
    background-repeat: no-repeat;
    border: none;
    height: 42px;
    width: 235px;
    }
    .facegoog .google-button {
        text-align: right;
    }
    .facegoog .google-button button {
        background-image: url(../bilder/knapp/google\ login.svg);
        background-repeat: no-repeat;
        border: none;
        height: 42px;
        width: 235px;
    }
    .facegoog .google-button button:hover,
    .facegoog .facebook-button button:hover {
        filter: brightness(80%);
    }
.foot {
    background-color: #080C24;
    height: 80px;
}

.foot .copy {
    display: flex;
    height: 80px;
    color: #ffffff;
    align-items: center;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-16);
    
}
/* @media (min-width: 578px) {
    .top-meny .top-links {
    display: inline;
    }
}
@media (min-width: 992px) {
    .top-meny > .container {
    justify-content: space-between;    
    }
.top-meny .top-links .site-links {
    display: inline;
    }
} */